.settings
.project
.classpath
bin
gen
build
target
.apt_generated

.idea

.gradle
.gradletasknamecache
project.properties
local.properties

*~

com_crashlytics_export_strings.xml
aidu.iml

.DS_Store
**/*.iml
**/*.log
